[submodule "3rdparty/discount"]
	path = 3rdparty/discount
	url = https://hub.fastgit.org/cloose/discount.git
[submodule "3rdparty/hunspell"]
	path = 3rdparty/hunspell
	url = https://hub.fastgit.org/cloose/hunspell-mingw.git
[submodule "3rdparty/hoedown"]
	path = 3rdparty/hoedown
	url = https://hub.fastgit.org/cloose/hoedown.git
